.card {
  display: flex;
  height: 300px;
  width: 250px;
  margin: 3px;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  background: black;
}

.card > img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  background: center;
  background-size: cover;
}