.card {
  height: 300px;
  width: 250px;
  margin: 3px;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid gray;
}

.card > img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  background: center;
  background-size: cover;
}