nav {
    height: 50px;
    width: 100%;
    background-color: slategray;
    margin-bottom: 10px;
    justify-content: center;
  }
  
nav li {
    display: inline-block;
    padding: 26px 0;
    width: 25%;
    /* text-align: center; */
  }
  
ul {
    /* padding-left: 0px; */
    display: flex;
    align-items: center;
  }